@{
    ViewData["Title"] = "Home Page";
}
@model List<Usuario>
<div class="text-center">
    <h1 class="display-4">Esto es unos Usuarios</h1>
    
    @foreach(Usuario item in @Model){
        <p>@item.Nombre @item.Apellido</p>
    }

</div>